html {
  /*
    フォントサイズはほとんどのwebブラウザはデフォルトを16pxにしていますが、
    漢字がある日本語主体のサイトではもう少し大きい方が読みやすいため、
    増大させます。
   */
  font-size: 18px;

  /* 日本語主体のサイト向きの改行処理にします。 */
  line-break: strict;
  overflow-wrap: break-word;
}
