/* CSS変数を見ているため、ちゃんとcolor-schemeは尊重しているのでルールを無効化。 */
/* stylelint-disable a11y/media-prefers-color-scheme */
address img,
.icon,
.icon img {
  /* 環境によってはアイコンの幅が不揃いになって大変気持ち悪いので強制的に合わせます。 */
  display: inline-block;

  /* アイコンらしく文字の大きさと同じになってもらいます。 */
  width: 1em;
  height: 1em;

  /* 画像用に自動マージンを入れて中央へ誘導する設定。 */
  margin: auto;

  /* SVG画像をカラーテーマに合わせた表示にします。 */
  color: var(--m-fg-main);

  /* テキスト用に中央へ誘導する設定。 */
  text-align: center;
}
