/* modus-operandi Light theme palette */
@media (prefers-color-scheme: light) {
  :root {
    --m-bg-main: #fff;
    --m-bg-dim: #f2f2f2;
    --m-fg-main: #000;
    --m-fg-dim: #595959;
    --m-fg-alt: #193668;
    --m-bg-active: #c4c4c4;
    --m-bg-inactive: #e0e0e0;
    --m-border: #9f9f9f;
    --m-link: #3548cf;
    --m-link-visited: #721045;
    --m-heading-1: #000;
    --m-heading-2: #624416;
    --m-heading-3: #193668;
    --m-heading-4: #721045;
    --m-heading-5: #2a5045;
    --m-heading-6: #7f0000;
    --m-comment: #595959;
    --m-keyword: #531ab6;
    --m-string: #3548cf;
    --m-type: #005f5f;
    --m-constant: #0000b0;
    --m-fnname: #721045;
    --m-builtin: #8f0075;
    --m-variable: #005e8b;
    --m-property: #005e8b;
    --m-preprocessor: #a0132f;
    --m-rx-backslash: #721045;
    --m-rx-construct: #00663f;
    --m-err: #a60000;
    --m-bg-added: #c1f2d1;
    --m-fg-added: #005000;
    --m-bg-removed: #ffd8d5;
    --m-fg-removed: #8f1313;
    --m-cyan-cooler: #005f5f;
    --m-cyan-faint: #005077;
  }
}

/* modus-vivendi Dark theme palette */
@media (prefers-color-scheme: dark) {
  :root {
    --m-bg-main: #000;
    --m-bg-dim: #1e1e1e;
    --m-fg-main: #fff;
    --m-fg-dim: #989898;
    --m-fg-alt: #c6daff;
    --m-bg-active: #535353;
    --m-bg-inactive: #303030;
    --m-border: #646464;
    --m-link: #79a8ff;
    --m-link-visited: #feacd0;
    --m-heading-1: #fff;
    --m-heading-2: #d2b580;
    --m-heading-3: #82b0ec;
    --m-heading-4: #feacd0;
    --m-heading-5: #88ca9f;
    --m-heading-6: #ff9580;
    --m-comment: #989898;
    --m-keyword: #b6a0ff;
    --m-string: #79a8ff;
    --m-type: #6ae4b9;
    --m-constant: #00bcff;
    --m-fnname: #feacd0;
    --m-builtin: #f78fe7;
    --m-variable: #00d3d0;
    --m-property: #00d3d0;
    --m-preprocessor: #ff7f86;
    --m-rx-backslash: #feacd0;
    --m-rx-construct: #00c06f;
    --m-err: #ff5f59;
    --m-bg-added: #00381f;
    --m-fg-added: #a0e0a0;
    --m-bg-removed: #4f1119;
    --m-fg-removed: #ffbfbf;
    --m-cyan-cooler: #6ae4b9;
    --m-cyan-faint: #9ac8e0;
  }
}

/* Style rules (shared, using CSS variables) */

/* CSS変数を見ているため、ちゃんとcolor-schemeは尊重しているのでこのブロックではルールを無効化。 */
/* stylelint-disable a11y/media-prefers-color-scheme */
body {
  color: var(--m-fg-main);
  background-color: var(--m-bg-main);
}

a {
  color: var(--m-link);
}

a:visited {
  color: var(--m-link-visited);
}

h1 {
  color: var(--m-heading-1);
}

h2 {
  color: var(--m-heading-2);
}

h3 {
  color: var(--m-heading-3);
}

h4 {
  color: var(--m-heading-4);
}

h5 {
  color: var(--m-heading-5);
}

h6 {
  color: var(--m-heading-6);
}

code {
  color: var(--m-fg-alt);
  background-color: var(--m-bg-dim);
}

pre {
  border: 1px solid var(--m-border);
  color: var(--m-fg-main);
  background-color: var(--m-bg-dim);
}

pre code {
  background-color: transparent;
}

th,
td {
  border-color: var(--m-border);
}

th {
  color: var(--m-fg-main);
  background-color: var(--m-bg-inactive);
}

blockquote {
  border-left-color: var(--m-border);
  color: var(--m-fg-dim);
}

hr {
  border-color: var(--m-border);
}

/*
 * 記述現在では`::selection`はiOS Safariで使えないようです。
 * しかしカラースキーマを定義している以上、
 * 選択の色も一貫して変えないと見えにくいです。
 * オプショナルな機能であり、
 * ないと他が崩壊する機能ではないため、
 * 非対応を許容します。
 */
/* stylelint-disable-next-line plugin/browser-compat */
::selection {
  color: var(--m-fg-main);
  background-color: var(--m-bg-active);
}

/* Pygments syntax highlighting */
.highlight {
  .c,
  .c1,
  .ch,
  .cm,
  .cs,
  .cp {
    color: var(--m-comment);
  }

  .k,
  .kn,
  .kp,
  .kr,
  .kd {
    color: var(--m-keyword);
  }

  .kt {
    color: var(--m-type);
  }

  .kc {
    color: var(--m-constant);
  }

  .s,
  .s1,
  .s2,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .sh {
    color: var(--m-string);
  }

  .se {
    color: var(--m-rx-backslash);
  }

  .sr {
    color: var(--m-rx-construct);
  }

  .si {
    color: var(--m-cyan-cooler);
  }

  .m,
  .mi,
  .mf,
  .mh,
  .mo,
  .mb,
  .il {
    color: var(--m-constant);
  }

  .nf,
  .fm {
    color: var(--m-fnname);
  }

  .nc {
    color: var(--m-type);
  }

  .nb {
    color: var(--m-builtin);
  }

  .nd {
    color: var(--m-preprocessor);
  }

  .nv,
  .vi,
  .vg,
  .vc {
    color: var(--m-variable);
  }

  .nt {
    color: var(--m-keyword);
  }

  .na {
    color: var(--m-property);
  }

  .no {
    color: var(--m-constant);
  }

  .ne {
    color: var(--m-type);
  }

  .n,
  .nn,
  .nx {
    color: var(--m-fg-main);
  }

  .nl {
    color: var(--m-cyan-faint);
  }

  .o,
  .ow {
    color: var(--m-keyword);
  }

  .p {
    color: var(--m-fg-main);
  }

  .l,
  .ld {
    color: var(--m-constant);
  }

  .err {
    color: var(--m-err);
  }

  .gd {
    color: var(--m-fg-removed);
    background-color: var(--m-bg-removed);
  }

  .gi {
    color: var(--m-fg-added);
    background-color: var(--m-bg-added);
  }

  .gr,
  .gt {
    color: var(--m-err);
  }

  .gh {
    color: var(--m-heading-1);
  }

  .gu {
    color: var(--m-heading-2);
  }

  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: bold;
  }

  .gp,
  .go,
  .w {
    color: var(--m-fg-dim);
  }
}
/* stylelint-enable a11y/media-prefers-color-scheme */
