html {
  /* 日本語主体のサイト向きの改行処理にします。 */
  line-break: strict;
  overflow-wrap: break-word;
}

/* 大きい画面に対してフルの画面表示がされていると圧力が強すぎるので余白を作ります。 */
@media (992px <= width) {
  body {
    /* 少しだけ余白を作ります。 */
    width: 95vw;

    /* 余白の場所を左右に作ります。 */
    margin: 0 auto;
  }
}

header nav {
  /* ナビを他のものから目立たせます。 */
  /* 色を変えます。 */
  background-color: var(--m-bg-dim);
  color: var(--m-fg-dim);

  /* 位置的に強調します。 */
  margin: 1rem;
  padding: 1rem;

  /* 年の数字とかが揃わないのはメニューとして気持ち悪すぎるので等幅を指定。 */
  font-family: monospace;

  /* ナビのフォントは大きくします。 */
  font-size: 300%;

  .icon {
    /*
      ナビ部分のアイコンは下揃えであることを期待します。
      ナビ部分のアイコンは文字とそのまま隣接させると特に絵文字などはめり込んでしまうので、
      少し左右に隙間を入れます。
     */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    img {
      /* 画像のアイコンと絵文字のアイコンの位置をある程度揃えます。 */
      vertical-align: text-bottom;
    }
  }

  /*
    homeリンクは常時表示扱いとして<ul>の外側に置いており、
    nav自体をflexにすることでhomeとulを横並びにします。
   */
  display: flex;
  align-items: center;

  > ul {
    /* メニュー項目を横並びにします。 */
    display: flex;

    /* リストマーカーと初期インデントを除去します。 */
    margin: 0;
    padding: 0;
    list-style: none;
  }

}

main {
  article {
    /* 日本語環境では記事の文字は大きめにしたほうが良いため。 */
    font-size: 1.5rem;

    /*
      大きさなどだけでは見出しレベルが分かりにくいため、
      Markdown形式に似た記号で装飾します。

      代替テキスト構文`/ ""`を併用し、
      装飾用の文字をスクリーンリーダーには読み上げさせません。
      代替テキスト構文の使用をstylelintのルールは認識してくれないのでここだけ無効化します。。
     */
    /* stylelint-disable a11y/content-property-no-static-value */
    h1::before {
      content: "# " / "";
    }

    h2::before {
      content: "## " / "";
    }

    h3::before {
      content: "### " / "";
    }

    h4::before {
      content: "#### " / "";
    }

    h5::before {
      content: "##### " / "";
    }

    h6::before {
      content: "###### " / "";
    }
    /* stylelint-enable a11y/content-property-no-static-value */
  }

  img,
  video {
    /* 画像や動画がだいたいひとつの画面内に収まるようにします。 */
    max-width: 100%;
    max-height: 90vh;
  }
}

.icon,
.icon img,
address img {
  /* 環境によってはアイコンの幅が不揃いになって大変気持ち悪いので強制的に合わせます。 */
  display: inline-block;

  /* アイコンらしく文字の大きさと同じになってもらいます。 */
  width: 1em;
  height: 1em;

  /* 画像と絵文字を併用するので同じ場所に揃えてくれることを期待します。 */

  /* 画像用に自動マージンを入れて中央へ誘導する設定。 */
  margin: auto;

  /* テキスト用に中央へ誘導する設定。 */
  text-align: center;
}

.timestamp {
  /* 日付部分で大体の環境で改行が発生しないだろう幅を設定。 */
  font-size: 1.4rem;
}
