html {
  /* 日本語主体の環境ではセリフ(明朝)よりサンセリフ(ゴシック)の方が読みやすいのでゴシックを指定。 */
  font-family: sans-serif;

  /* 日本語主体のサイト向きの改行処理にします。 */
  line-break: strict;
  overflow-wrap: break-word;
}

/* 大きい画面に対してフルの画面表示がされていると圧力が強すぎるので余白を作ります。 */
@media (min-width: 992px) {
  body {
    /* 少しだけ余白を作ります。 */
    width: 95vw;
    /* 余白の場所を左右に作ります。 */
    margin: 0 auto;
  }
}

header nav {
  /* 年の数字とかが揃わないのはメニューとして気持ち悪すぎるので等幅を指定。 */
  font-family: monospace;

  /* ナビのフォントは大きく。 */
  font-size: 300%;
}

main {
  article {
    /* 日本語環境では記事の文字は大きめにしたほうが良いため。 */
    font-size: 1.5rem;

    /*
      大きさなどだけでは見出しレベルが分かりにくいため、
      Markdown形式に似た記号で装飾します。

      代替テキスト構文`/ ""`を併用し、
      装飾用の文字をスクリーンリーダーには読み上げさせません。
      代替テキスト構文の使用をstylelintのルールは認識してくれないのでここだけ無効化します。。
     */
    /* stylelint-disable a11y/content-property-no-static-value */
    h1::before {
      content: "# " / "";
    }

    h2::before {
      content: "## " / "";
    }

    h3::before {
      content: "### " / "";
    }

    h4::before {
      content: "#### " / "";
    }

    h5::before {
      content: "##### " / "";
    }

    h6::before {
      content: "###### " / "";
    }
    /* stylelint-enable a11y/content-property-no-static-value */
  }

  img,
  video {
    /* 画像や動画がだいたいひとつの画面内に収まるようにします。 */
    max-width: 100%;
    max-height: 90vh;
  }
}

.icon,
address img {
  /* 環境によってはアイコンの幅が不揃いになって大変気持ち悪いので強制的に合わせます。 */
  display: inline-block;

  /* アイコンらしく文字の大きさと同じになってもらいます。 */
  width: 1em;
  height: 1em;

  /* 画像と絵文字を併用するので同じ場所に揃えてくれることを期待します。 */

  /* 画像用に右にマージン入れて中央へする設定。 */
  margin-right: auto;

  /* テキスト用に中央へする設定。 */
  text-align: center;
}

.timestamp {
  /* 日付部分で大体の環境で改行が発生しないだろう幅を設定。 */
  font-size: 1.4rem;
}
