<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>$title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="date" content="$date$" />
    <meta name="updated" content="$updated$" />
    <meta
      name="google-site-verification"
      content="F2w0ad_9TYxlSSYJnKjdCt8oco11oOfYHYMuCsvfLYw"
    />

    <meta property="og:url" content="https://www.ncaq.net$url$" />
    <meta property="og:type" content="$type$" />
    <meta property="og:title" content="$title$" />
    <meta property="og:description" content="$og-description$" />
    <meta property="og:image" content="https://www.ncaq.net/favicon.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ncaq" />
    <meta name="twitter:widgets:theme" content="dark" />

    <link rel="alternate" type="application/atom+xml" href="/feed.atom" />
    <link rel="author" href="http://www.hatena.ne.jp/Haaaa_N/" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/default.css" />

    <script
      async="async"
      src="https://www.googletagmanager.com/gtag/js?id=UA-82769478-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-82769478-1");
    </script>

    <script
      async="async"
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8393549016688364",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <div class="container-fluid top-level-container">
      <!-- www.ncaq.net: ヘッダー上 -->
      <ins
        class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8393549016688364"
        data-ad-slot="7976349834"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <header class="nocontent">
        <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link" href="/">
            <img src="/favicon.png" alt="ncaq" />home
          </a>
          <a class="nav-item nav-link" href="/about/">👤about</a>
          <a
            class="nav-item nav-link"
            rel="alternate"
            type="application/atom+xml"
            href="/feed.atom"
          >
            <img src="/feed.svg" alt="" />feed
          </a>
        </nav>
      </header>
      <div class="gcse-search"></div>
      <div class="social bottom nocontent">
        <a
          href="https://twitter.com/share"
          class="twitter-share-button"
          data-via="ncaq"
        >
          Tweet
        </a>
        <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button">
          <img
            src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
            alt="このエントリーをはてなブックマークに追加"
          />
          hatena-bookmark
        </a>
        <span
          class="fb-like"
          data-layout="button_count"
          data-show-faces="true"
          data-share="true"
        >
          fb-like
        </span>
        <a
          data-pocket-label="pocket"
          data-pocket-count="horizontal"
          class="pocket-btn"
        >
          pocket
        </a>
      </div>
      <main>
        $body$
      </main>
      <div class="social bottom nocontent">
        <a
          href="https://twitter.com/share"
          class="twitter-share-button"
          data-via="ncaq"
        >
          Tweet
        </a>
        <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button">
          <img
            src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
            alt="このエントリーをはてなブックマークに追加"
          />
          hatena-bookmark
        </a>
        <span
          class="fb-like"
          data-layout="button_count"
          data-show-faces="true"
          data-share="true"
        >
          fb-like
        </span>
        <a
          data-pocket-label="pocket"
          data-pocket-count="horizontal"
          class="pocket-btn"
        >
          pocket
        </a>
      </div>
      <div class="container">
        <!-- www.ncaq.net: メイン下関連コンテンツ -->
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-format="autorelaxed"
          data-ad-client="ca-pub-8393549016688364"
          data-ad-slot="7527523194"
          data-matched-content-ui-type="image_card_stacked,image_card_sidebyside"
          data-matched-content-rows-num="5,4"
          data-matched-content-columns-num="2,4"
        ></ins>
      </div>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <!-- www.ncaq.net: フッター上 -->
      <ins
        class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8393549016688364"
        data-ad-slot="5186534965"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <footer class="nocontent">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item">
                    📛 エヌユル
                  </li>
                  <li class="list-group-item">
                    📧
                    <a href="mailto:ncaq@ncaq.net">email / ncaq@ncaq.net</a>
                  </li>
                  <li class="list-group-item">
                    📞
                    <a href="tel:050-5582-8214">TEL / 050-5582-8214</a>
                  </li>
                  <li class="list-group-item">
                    💬
                    <a href="sms:080-8836-9468">SMS / 080-8836-9468</a>
                  </li>
                  <li class="list-group-item">
                    <img
                      src="https://abs.twimg.com/favicons/favicon.ico"
                      alt=""
                    />
                    <a href="https://twitter.com/ncaq">Twitter / ncaq</a>
                  </li>
                  <li class="list-group-item">
                    <img src="https://github.com/favicon.ico" alt="" />
                    <a href="https://github.com/ncaq">GitHub / ncaq</a>
                  </li>
                  <li class="list-group-item">
                    <img src="https://www.hatena.ne.jp/favicon.ico" alt="" />
                    <a href="https://profile.hatena.ne.jp/Haaaa_N/">
                      Hatena / Haaaa_N
                    </a>
                  </li>
                  <li class="list-group-item">
                    <img
                      src="https://discordapp.com/assets/07dca80a102d4149e9736d4b162cff6f.ico"
                      alt=""
                    />
                    Discord / ncaq#7527
                  </li>
                  <li class="list-group-item">
                    <img
                      src="https://secure.skypeassets.com/i/common/images/icons/favicon.ico"
                      alt=""
                    />
                    <a href="skype:ncaq__?chat">Skype / ncaq__</a>
                  </li>
                  <li class="list-group-item">
                    <img src="https://ask.fm/favicon.png" alt="" />
                    <a href="https://ask.fm/ncaq_ask">ASKfm / ncaq_ask</a>
                  </li>
                  <li class="list-group-item">
                    <img src="https://www.redditstatic.com/icon.png" alt="" />
                    <a href="https://www.reddit.com/user/ncaq/">
                      Reddit / ncaq
                    </a>
                  </li>
                  <li class="list-group-item">
                    <img src="https://steamcommunity.com/favicon.ico" alt="" />
                    <a href="https://steamcommunity.com/id/ncaq/">
                      Steam / ncaq
                    </a>
                  </li>
                  <li class="list-group-item">
                    <img
                      src="https://www.nintendo.co.jp/common/v2/img/ncommon/_common/logo/switch-white.svg"
                      alt=""
                    />
                    Switch / SW-7455-2842-8308
                  </li>
                  <li class="list-group-item">
                    🎮 3DS / 0860-3192-4401
                  </li>
                  <li class="list-group-item">
                    <img
                      src="https://www.pokemongo.jp/common/images/favi.ico"
                      alt=""
                    />
                    Pokémon GO / 1866 8646 7299
                  </li>
                  <li class="list-group-item">
                    <img src="https://www.amazon.co.jp/favicon.ico" alt="" />
                    <a
                      href="https://www.amazon.co.jp/gp/profile/amzn1.account.AHKRC5NNNATDWVH2MW5CMWH47XPQ"
                    >
                      Amazon / ncaq
                    </a>
                  </li>
                  <li class="list-group-item">
                    <img src="https://www.amazon.co.jp/favicon.ico" alt="" />
                    <a
                      href="https://www.amazon.co.jp/gp/registry/wishlist/RLJGCBDR4TAA/"
                    >
                      Amazonほしい物リスト / ncaq
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <iframe
                  src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&amp;p=12&amp;l=ur1&amp;category=amazonrotate&amp;f=ifr&amp;linkID=46539c5c5b372542c7f908847b4d2c24&amp;t=ncaq01-22&amp;tracking_id=ncaq01-22"
                  width="300"
                  height="250"
                  scrolling="no"
                  marginwidth="0"
                  style="border:none;"
                  frameborder="0"
                ></iframe>
                <!-- www.ncaq.net: フッター中 -->
                <ins
                  class="adsbygoogle"
                  style="display:block"
                  data-ad-client="ca-pub-8393549016688364"
                  data-ad-slot="6352221366"
                  data-ad-format="auto"
                  data-full-width-responsive="true"
                ></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a
              class="twitter-timeline"
              data-chrome="nofooter transparent"
              data-tweet-limit="5"
              href="https://twitter.com/ncaq"
            >
              Tweets by ncaq
            </a>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <small>
            <a href="/privacy/policy/">プライバシー ポリシー</a>
          </small>
        </div>
        <div class="d-flex justify-content-center">
          <small>
            <a href="https://github.com/ncaq/www.ncaq.net">
              github/www.ncaq.net
            </a>
            generated by
            <a href="https://jaspervdj.be/hakyll/">
              hakyll
            </a>
          </small>
        </div>
      </footer>
    </div>

    <script
      async="async"
      src="https://cse.google.com/cse.js?cx=004447714709742723527:gfxoo7p4yao"
    ></script>

    <script
      async="async"
      src="https://platform.twitter.com/widgets.js"
    ></script>
    <script
      async="async"
      src="https://b.st-hatena.com/js/bookmark_button.js"
    ></script>
    <script
      async="async"
      src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&amp;version=v3.2"
    ></script>
    <script
      async="async"
      src="https://widgets.getpocket.com/v1/j/btn.js?v=1"
    ></script>

    <script
      async="async"
      src="https://b.st-hatena.com/js/comment-widget.js"
    ></script>
  </body>
</html>
