<article>
  <ul class="list-unstyled">
    <li class="h3">作成: <wbr /><time datetime="$date$">$date$</time></li>
    $if(updated)$
    <li class="h3">更新: <wbr /><time datetime="$updated$">$updated$</time></li>
    $endif$
  </ul>
  <h1>$title_wbr$</h1>
  $body$
</article>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: "none",
    CommonHTML: { linebreaks: { automatic: true } }
  });
</script>
<script
  async="async"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML"
></script>

<script
  async="async"
  src="https://b.st-hatena.com/js/comment-widget.js"
></script>
