<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script defer="defer" src="https://www.googletagmanager.com/gtag/js?id=G-QRPNQKPP4D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-QRPNQKPP4D");
    </script>

    <!-- ページのメタデータ。 -->
    <title>$title$</title>
    <meta name="description" content="$description$" />
    $if(date)$
    <meta name="date" content="$date$" />
    $endif$ $if(updated)$
    <meta name="updated" content="$updated$" />
    $endif$

    <!-- Open Graph protocol -->
    $if(opengraph)$ $opengraph$ $else$
    <meta property="og:type" content="$og-type$" />
    <meta property="og:url" content="$root$$url$" />
    <meta property="og:title" content="$title$" />
    <meta property="og:description" content="$og-description$" />
    <meta property="og:image" content="https://www.ncaq.net/favicon.png" />
    $endif$

    <!-- Twitter Card -->
    $if(twitter)$ $twitter$ $endif$
    <meta name="twitter:widgets:theme" content="dark" />

    <!-- 認証 -->
    <meta name="google-site-verification" content="F2w0ad_9TYxlSSYJnKjdCt8oco11oOfYHYMuCsvfLYw" />

    <!-- 関連URL情報。 -->
    <link rel="canonical" href="$root$$url$" />
    <link rel="alternate" type="application/atom+xml" href="$root$/feed.atom" />

    <!--
    作者情報。
    本当ははてブの通知用の情報だけで良いのですが、それだけ書くとはてなの派生サイトみたいになるので自分の情報も書いておく。
    -->
    <link rel="author" href="https://www.ncaq.net/about/" />
    <link rel="author" href="http://www.hatena.ne.jp/Haaaa_N/" />

    <!-- 表示に必要な情報。 -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.png" type="image/png" />

    <script defer="defer" src="https://kit.fontawesome.com/e1ccf9a1e8.js" crossorigin="anonymous"></script>

    <script defer="defer" src="https://platform.twitter.com/widgets.js"></script>
    <script defer="defer" src="https://b.st-hatena.com/js/comment-widget.js"></script>

    <script defer="defer" src="https://b.st-hatena.com/js/bookmark_button.js"></script>

    <script
      defer="defer"
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8393549016688364"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/dist/bundle.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">
          <picture class="icon">
            <source srcset="/favicon-96.avif" type="image/avif" />
            <img src="/favicon.png" alt="" loading="lazy" />
          </picture>home
        </a>
        <ul>
          <li>
            <a href="/about/"><span class="icon">👤</span>about</a>
          </li>
          <li>
            <a rel="alternate" type="application/atom+xml" href="$root$/feed.atom">
              <img
                class="icon"
                src="/feed.svg"
                alt=""
                width="32"
                height="32"
                loading="lazy"
              />feed
            </a>
          </li>
          <li>
            <span class="icon">🗂️</span>entry
            <ol>
              $for(entry-index)$
              <li>
                <a href="/$body$/">$body$年</a>
              </li>
              $endfor$
            </ol>
          </li>
        </ul>
      </nav>
    </header>
    <main>$body$</main>
    <aside class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="ncaq">Tweet</a>
      <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button">
        <img
          referrerpolicy="no-referrer"
          src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
          alt="このエントリーをはてなブックマークに追加"
          loading="lazy"
        />hatena-bookmark
      </a>
    </aside>
    <aside>
      <!-- www.ncaq.net: フッター上 -->
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-8393549016688364"
        data-ad-slot="5186534965"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </aside>
    <footer>
      <address>
        <table>
          <thead>
            <tr>
              <th>icon</th>
              <th>key</th>
              <th>value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>📛</td>
              <td>name</td>
              <td><a href="https://www.ncaq.net/about/" rel="me">ncaq エヌユル</a></td>
            </tr>
            <tr>
              <td>📧</td>
              <td>email</td>
              <td><a href="mailto:ncaq@ncaq.net" rel="me">ncaq@ncaq.net</a></td>
            </tr>
            <tr>
              <td>📞</td>
              <td>TEL</td>
              <td><a href="tel:070-8508-1708" rel="me">070-8508-1708</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-keybase"></i></td>
              <td>Keybase</td>
              <td><a href="https://keybase.io/ncaq" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-twitter"></i></td>
              <td>Twitter X</td>
              <td><a href="https://twitter.com/ncaq" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-github"></i></td>
              <td>GitHub</td>
              <td><a href="https://github.com/ncaq" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td>
                <img
                  referrerpolicy="no-referrer"
                  src="https://www.hatena.ne.jp/p/images/android-chrome-256x256.png"
                  alt=""
                  loading="lazy"
                />
              </td>
              <td>Hatena</td>
              <td><a href="https://profile.hatena.ne.jp/Haaaa_N/" rel="me">Haaaa_N</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-discord"></i></td>
              <td>Discord</td>
              <td><a href="https://discord.com/users/178074036763361280" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-reddit"></i></td>
              <td>Reddit</td>
              <td><a href="https://www.reddit.com/user/ncaq/" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td>
                <img referrerpolicy="no-referrer" src="https://www.syakerake.jp/favicon.ico" alt="" loading="lazy" />
              </td>
              <td>SYAKERAKE</td>
              <td><a href="https://www.syakerake.jp/user/1" rel="me">エヌユル</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-steam"></i></td>
              <td>Steam</td>
              <td><a href="https://steamcommunity.com/id/ncaq/" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td>
                <img
                  referrerpolicy="no-referrer"
                  src="https://www.nintendo.co.jp/common/v2/img/ncommon/_common/logo/switch-white.svg"
                  alt=""
                  loading="lazy"
                />
              </td>
              <td>Switch</td>
              <td>
                <a href="https://lounge.nintendo.com/friendcode/7455-2842-8308/C4zSpLkJjt" rel="me">
                  SW-7455-2842-8308
                </a>
              </td>
            </tr>
            <tr>
              <td><i class="fab fa-playstation"></i></td>
              <td>PlayStation</td>
              <td><a href="https://psnprofiles.com/ncaq_net" rel="me">ncaq_net</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-xbox"></i></td>
              <td>Xbox</td>
              <td><a href="https://xboxgamertag.com/search/ncaq" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-amazon"></i></td>
              <td>Amazon</td>
              <td>
                <a href="https://www.amazon.co.jp/gp/profile/amzn1.account.AHKRC5NNNATDWVH2MW5CMWH47XPQ" rel="me">
                  ncaq エヌユル
                </a>
              </td>
            </tr>
            <tr>
              <td><i class="fab fa-amazon"></i></td>
              <td>ほしい物リスト</td>
              <td>
                <a href="https://www.amazon.co.jp/gp/registry/wishlist/RLJGCBDR4TAA/">ncaq main</a>
              </td>
            </tr>
          </tbody>
        </table>
      </address>
      <small>
        <a href="/privacy/policy/">プライバシー ポリシー</a>
      </small>
      <small>
        <a href="https://github.com/ncaq/www.ncaq.net">github/www.ncaq.net</a>
        generated by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>
      </small>
    </footer>
  </body>
</html>
