<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script
      async="async"
      src="https://www.googletagmanager.com/gtag/js?id=G-QRPNQKPP4D"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-QRPNQKPP4D");
    </script>

    <!-- ページのメタデータ。 -->
    <title>$title$</title>
    <meta name="description" content="$description$" />
    $if(date)$
    <meta name="date" content="$date$" />
    $endif$ $if(updated)$
    <meta name="updated" content="$updated$" />
    $endif$

    <!-- JSON-LD -->
    $if(jsonld)$ $jsonld("embed")$ $else$
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "headline": $title$
      }
    </script>
    $endif$

    <!-- Open Graph protocol -->
    $if(opengraph)$ $opengraph$ $else$
    <meta property="og:type" content="$og-type$" />
    <meta property="og:url" content="$root$$url$" />
    <meta property="og:title" content="$title$" />
    <meta property="og:description" content="$og-description$" />
    <meta property="og:image" content="https://www.ncaq.net/favicon.png" />
    $endif$

    <!-- Twitter Card -->
    $if(twitter)$ $twitter$ $endif$
    <meta name="twitter:widgets:theme" content="dark" />

    <!-- 認証 -->
    <meta
      name="google-site-verification"
      content="F2w0ad_9TYxlSSYJnKjdCt8oco11oOfYHYMuCsvfLYw"
    />

    <!-- 関連URL情報。 -->
    <link rel="canonical" href="$root$$url$" />
    <link rel="alternate" type="application/atom+xml" href="/feed.atom" />

    <!--
    作者情報。
    本当ははてブの通知用の情報だけで良いのですが、それだけ書くとはてなの派生サイトみたいになるので自分の情報も書いておく。
    -->
    <link rel="author" href="https://www.ncaq.net/about/" />
    <link rel="author" href="http://www.hatena.ne.jp/Haaaa_N/" />

    <!-- 表示に必要な情報。 -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.png" type="image/png" />

    <link rel="stylesheet" href="/default.css" />
  </head>
  <body>
    <div class="container-fluid">
      <header class="nocontent">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="nav-item" href="/">
            <picture class="icon">
              <source srcset="/favicon-96.webp" type="image/webp" />
              <img
                referrerpolicy="same-origin"
                src="/favicon.png"
                alt=""
                width="32"
                height="32"
                loading="lazy"
              />home
            </picture>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-supported-content"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-supported-content">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about/">
                  <span class="icon">👤</span>about</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  rel="alternate"
                  type="application/atom+xml"
                  href="/feed.atom"
                >
                  <img
                    class="icon"
                    referrerpolicy="same-origin"
                    src="/feed.svg"
                    alt=""
                    width="32"
                    height="32"
                    loading="lazy"
                  />feed</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="icon">🗂️</span>entry</a
                >
                <div class="dropdown-menu navbar-supported-content">
                  $for(entry-index)$
                  <a class="dropdown-item" href="/$body$/">$body$年</a>
                  $endfor$
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <main>$body$</main>
      <div class="social bottom nocontent">
        <a
          href="https://twitter.com/share"
          class="twitter-share-button"
          data-via="ncaq"
          >Tweet
        </a>
        <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button">
          <img
            referrerpolicy="same-origin"
            src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
            alt="このエントリーをはてなブックマークに追加"
            loading="lazy"
          />hatena-bookmark
        </a>
        <a
          data-pocket-label="pocket"
          data-pocket-count="horizontal"
          class="pocket-btn"
          >pocket
        </a>
      </div>
      <div class="container">
        <script
          async="async"
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8393549016688364"
          crossorigin="anonymous"
        ></script>
        <!-- www.ncaq.net: フッター上 -->
        <ins
          class="adsbygoogle"
          style="display: block"
          data-ad-client="ca-pub-8393549016688364"
          data-ad-slot="5186534965"
          data-ad-format="auto"
          data-full-width-responsive="true"
        ></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <footer class="nocontent">
        <table
          class="table table-striped table-sm table-bordered my-social-links"
        >
          <thead>
            <tr>
              <th>icon</th>
              <th>key</th>
              <th>value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>📛</td>
              <td>name</td>
              <td>
                <a href="https://www.ncaq.net/about/" rel="me">
                  ncaq エヌユル
                </a>
              </td>
            </tr>
            <tr>
              <td>📧</td>
              <td>email</td>
              <td>
                <a href="mailto:ncaq@ncaq.net" rel="me">ncaq@ncaq.net</a>
              </td>
            </tr>
            <tr>
              <td>📞</td>
              <td>TEL</td>
              <td>
                <a href="tel:070-8508-1708" rel="me">070-8508-1708</a>
              </td>
            </tr>
            <tr>
              <td><i class="fab fa-twitter"></i></td>
              <td>Twitter</td>
              <td><a href="https://twitter.com/ncaq" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-github"></i></td>
              <td>GitHub</td>
              <td><a href="https://github.com/ncaq" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td>
                <img
                  referrerpolicy="same-origin"
                  src="https://www.hatena.ne.jp/p/images/android-chrome-256x256.png"
                  alt=""
                  loading="lazy"
                />
              </td>
              <td>Hatena</td>
              <td>
                <a href="https://profile.hatena.ne.jp/Haaaa_N/" rel="me">
                  Haaaa_N
                </a>
              </td>
            </tr>
            <tr>
              <td><i class="fab fa-discord"></i></td>
              <td>Discord</td>
              <td>ncaq#7527</td>
            </tr>
            <tr>
              <td>
                <img
                  referrerpolicy="same-origin"
                  src="https://s3.peing.net/t/favicon.ico"
                  alt=""
                  loading="lazy"
                />
              </td>
              <td>質問箱</td>
              <td><a href="https://peing.net/ja/ncaq" rel="me">ncaq</a></td>
            </tr>
            <tr>
              <td><i class="fab fa-reddit"></i></td>
              <td>Reddit</td>
              <td>
                <a href="https://www.reddit.com/user/ncaq/" rel="me">ncaq</a>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  referrerpolicy="same-origin"
                  src="https://www.syakerake.jp/favicon.ico"
                  alt=""
                  loading="lazy"
                />
              </td>
              <td>SYAKERAKE</td>
              <td>
                <a href="https://www.syakerake.jp/user/1" rel="me">
                  エヌユル
                </a>
              </td>
            </tr>
            <tr>
              <td><i class="fab fa-steam"></i></td>
              <td>Steam</td>
              <td>
                <a href="https://steamcommunity.com/id/ncaq/" rel="me">
                  ncaq
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  referrerpolicy="same-origin"
                  src="https://www.nintendo.co.jp/common/v2/img/ncommon/_common/logo/switch-white.svg"
                  alt=""
                  loading="lazy"
                />
              </td>
              <td>Switch</td>
              <td>SW-7455-2842-8308</td>
            </tr>
            <tr>
              <td><span class="icon-3ds">3</span></td>
              <td>3DS</td>
              <td>0860-3192-4401</td>
            </tr>
            <tr>
              <td>
                <img
                  referrerpolicy="same-origin"
                  src="https://www.pokemongo.jp/favicon.ico"
                  alt=""
                  loading="lazy"
                />
              </td>
              <td>Pokémon GO</td>
              <td>1866 8646 7299</td>
            </tr>
            <tr>
              <td><i class="fab fa-playstation"></i></td>
              <td>PlayStation</td>
              <td>
                <a href="https://psnprofiles.com/ncaq_net">ncaq_net</a>
              </td>
            </tr>
            <tr>
              <td><i class="fab fa-xbox"></i></td>
              <td>Xbox</td>
              <td>
                <a href="https://xboxgamertag.com/search/ncaq">ncaq</a>
              </td>
            </tr>
            <tr>
              <td><i class="fab fa-amazon"></i></td>
              <td>Amazon</td>
              <td>
                <a
                  href="https://www.amazon.co.jp/gp/profile/amzn1.account.AHKRC5NNNATDWVH2MW5CMWH47XPQ"
                  rel="me"
                >
                  ncaq
                </a>
              </td>
            </tr>
            <tr>
              <td><i class="fab fa-amazon"></i></td>
              <td>ほしい物リスト</td>
              <td>
                <a
                  href="https://www.amazon.co.jp/gp/registry/wishlist/RLJGCBDR4TAA/"
                  rel="me"
                >
                  ncaq
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <small>
            <a href="/privacy/policy/">プライバシー ポリシー</a>
          </small>
        </div>
        <div class="d-flex justify-content-center">
          <small>
            <a href="https://github.com/ncaq/www.ncaq.net">
              github/www.ncaq.net
            </a>
            generated by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>
          </small>
        </div>
      </footer>
    </div>

    <script
      async="async"
      src="https://platform.twitter.com/widgets.js"
    ></script>
    <script
      async="async"
      src="https://b.st-hatena.com/js/bookmark_button.js"
    ></script>
    <script
      async="async"
      src="https://widgets.getpocket.com/v1/j/btn.js?v=1"
    ></script>

    <script
      async="async"
      crossorigin="anonymous"
      src="https://kit.fontawesome.com/e1ccf9a1e8.js"
    ></script>

    <!-- bootstrap 4のJSがjQueryを必須とするため後に読み込まれる可能性を防ぐためにasyncはあえて付けない。 -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      async="async"
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
